.landing-page {
   width: 100vw;
   height: 100vh;
   background-image: url('../../assets/wpm-landing.jpg');
   background-size: cover;
   background-position: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
   text-shadow: 3px 3px rgb(56, 55, 55);
   font-family: 'Courier';

   h1 {
      font-size: 4em;
   }

   h2 {
      font-size: 2.5em;
   }

   p {
      font-size: 2rem;
      margin: 2rem 0;
   }
}

.go-button {
   width: 18rem;
   height: auto;
   background-color: rgba(49, 48, 48, 0.74);
   border: 1px solid white;
   border-radius: 13px;
   letter-spacing: -.15rem;
}

.emphasize {
   font-size: 2.5rem;
   font-style: italic;
   color: rgb(233, 176, 52);
}