.landing-page {
   width: 100vw;
   height: 100vh;
   background-image: url('../../assets/wpm-landing.jpg');
   background-size: cover;
   background-position: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   h1 {
      font-size: 4em;
   }

   p {
      font-size: 2rem;
      margin: 2rem 0;
   }
}

.go-button {
   font-size: 3rem;
}